<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link rel="shortcut icon" href="<%=baseURL%>/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="<%=baseURL%>/css/style.css" />
    <title>Owl Swap</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light my-2 bg-transparent">
      <label for="" class="brand">
        <a href=""><img src="<%=baseURL%>/images/favicon.png" alt="" /></a>
      </label>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div
          class="navbar-nav nav-direction flex-direction-row m-auto mt-2 box-sizzing-adjustment faj menu ml-38"
        >
          <a class="menulinks active" href="#" aria-current="page">Swap</a>
          <a data-cy="pool-nav-link" class="menulinks" href="#">Pool</a>
          <a class="menulinks" href="#">Vote</a>
          <a href="#" class="ancher-style menus4">
            Charts<i class="fa fa-arrow-up rotate-45deg"></i>
          </a>
        </div>
        <div class="d-flex flex-direction-row justify-content-center">
          <div class="navbar-btn mr-8">
            <img src="<%=baseURL%>/images/ethereum.png" class="img-width" />
            <div class="mr-8">Ethereum</div>

            <!--Connect Wallet & Address -->
          </div>

          <div id="connectButton" class="navbar-btn1 p-0 mr-8" style="display: flex;">
            <div id="textConnect1" class="mr-8 connect-wallet3">Connect Wallet</div>
          </div>

          <div id="sectionLogged" class="laabeG">
            <div class="sc-pradxg-4 eKAXzW">
              <div
                id="lblBalance"
                class="blzn css-z9m35u"
                style="flex-shrink: 0; user-select: none"
              >
                0 ETH
              </div>
              <span class="mrGpl"
                ><button
                  data-testid="web3-status-connected"
                  class="sc-bczRLJ lfsInV sc-fwrjc2-0 sc-fwrjc2-4 sc-m6ivbz-0 sc-m6ivbz-3 ffWXsK hYTqPD ihvkLg carmpD"
                >
                  <p id="lblAddress" class="nHkP">0xDDd3...bA22</p>
                  <div size="16" class="sc-16lz3aa-0 dSoxhF">
                    <div class="sc-z4caw7-0 dLkpXm">
                      <span>
                        <div
                          style="
                            border-radius: 50px;
                            overflow: hidden;
                            padding: 0px;
                            margin: 0px;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            background: rgb(242, 218, 2);
                          "
                        >
                          <svg x="0" y="0" width="16" height="16">
                            <rect
                              x="0"
                              y="0"
                              width="16"
                              height="16"
                              transform="translate(2.0749999475318193 -0.21650984114078128) rotate(458.6 8 8)"
                              fill="#2336E1"
                            ></rect>
                            <rect
                              x="0"
                              y="0"
                              width="16"
                              height="16"
                              transform="translate(-9.870152811319306 2.7265039515636964) rotate(335.2 8 8)"
                              fill="#E9F500"
                            ></rect>
                            <rect
                              x="0"
                              y="0"
                              width="16"
                              height="16"
                              transform="translate(-2.167560198892878 15.820421780067047) rotate(190.5 8 8)"
                              fill="#FB1827"
                            ></rect>
                          </svg>
                        </div>
                      </span>
                    </div>
                  </div></button
              ></span>
            </div>
          </div>

          <!--Connect Wallet & Address -->

          <div>
            <button class="ellipsis-btn">
              <i class="fa fa-ellipsis-h"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="currency-change-card">
      <main class="containerswap">
        <div class="TopHeader">
          <div class="box-sizzing-adjustment fajw wbk-jc">
            <div class="box-sizzing-adjustment fajw w-fc">
              <div class="left-text" style="margin-right: 8px">Swap</div>
            </div>
            <div class="box-sizzing-adjustment fajw w-fc">
              <div class="rightContect">
                <button class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#fefefe"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="12" cy="12" r="3"></circle>
                    <path
                      d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="middleContent">
          <div>
            <div class="ljUCxd">
              <div class="kqMizK">
                <div class="alObe">
                  <div class="kclfuH">
                    <div>
                      <input
                        id="input1"
                        class="jSMOMh dzSLcC"
                        autocomplete="off"
                        type="text"
                        placeholder="0.0"
                      />
                    </div>
                    <div>
                      <button
                        id="token1"
                        class="lfsInV fiAVlW gsjtBC Irssm"
                        content="6"
                        active="0"
                        data-toggle="modal"
                        data-target=".currencyChangeModal"
                      >
                        <span class="CdReC">
                          <div class="box-sizzing-adjustment fajw w-fc">
                            <img
                              class="iTKKBi dXNPyx"
                              alt="OWLT logo"
                              src="<%=baseURL%>/images/OwlToken.png"
                              style="margin-right: 2px"
                            />
                            <span class="ktwiAW">OWLT</span>
                          </div>
                          <svg
                            width="12"
                            height="7"
                            viewBox="0 0 12 7"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="sc-3zewi2-11 kHQTSW"
                          >
                            <path
                              d="M0.97168 1L6.20532 6L11.439 1"
                              stroke="#fefefe"
                            ></path>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="gVdIFb fBTqhr">
                    <!--Balance-->
                    <div
                      class="sc-bczRLJ sc-nrd8cx-0 sc-nrd8cx-4 hJYFVB gBBPoP leSroW GlOp"
                      style="height: 17px"
                    >
                      <div
                        id="lblTokenBalance"
                        class="sc-18nh1jk-0 horBTe css-35l4ye"
                        style="display: inline; cursor: pointer"
                      >
                        Balance: 0
                      </div>
                    </div>

                    <div id="maxBalance" class="buttonmax">
                      <button class="maxbutton">Max</button>
                    </div>
                    <!--Balance-->

                    <div class="box-sizzing-adjustment fajw wbk-jc">
                      <div class="eaouLI">
                        <div class="horBTe css-djrxae"></div>
                      </div>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sc-11ce2lf-2 cLeAet">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#6E727D"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="19 12 12 19 5 12"></polyline>
              </svg>
            </div>
          </div>
          <div class="sc-1es900k-3">
            <div class="jgeUFu">
              <div class="sc-1es900k-5 cAgSbJ">
                <div label="[object Object]" class="kqMizK">
                  <div class="alObe">
                    <div class="kclfuH">
                      <div>
                        <input
                          id="input2"
                          class="jSMOMh dzSLcC"
                          autocomplete="off"
                          type="text"
                          placeholder="0.0"
                        />
                      </div>
                      <div>
                        <button
                          id="token2"
                          class="lfsInV fiAVlW gsjtBC Irssm"
                          content="1"
                          active="0"
                          data-toggle="modal"
                          data-target=".currencyChangeModal"
                        >
                          <span class="CdReC">
                            <div class="box-sizzing-adjustment fajw w-fc">
                              <img
                                class="iTKKBi dXNPyx"
                                alt="DAI logo"
                                src="<%=baseURL%>/images/dai.png"
                                style="margin-right: 2px"
                              />
                              <span class="ktwiAW">DAI</span>
                            </div>
                            <svg
                              width="12"
                              height="7"
                              viewBox="0 0 12 7"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="sc-3zewi2-11 kHQTSW"
                            >
                              <path
                                d="M0.97168 1L6.20532 6L11.439 1"
                                stroke="#fefefe"
                              ></path>
                            </svg>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <button id="swapButton" class="lfsInV connect-wallet p-4">
                  <span id="swapText" class="button__text">Connect wallet</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- currencyChangeModal modal -->
    <div
      class="modal fade currencyChangeModal"
      id=""
      tabindex="-1"
      role="dialog"
      aria-labelledby="currencyChangeModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Select a token</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <hr />
            <div class="d-flex">
              <span class="CdReC active" name="modalTokens" content="1">
                <div class="box-sizzing-adjustment fajw w-fc">
                  <img
                    class="iTKKBi dXNPyx"
                    alt="DAI logo"
                    src="<%=baseURL%>/images/dai.png"
                    style="margin-right: 2px"
                  />
                  <span class="ktwiAW">DAI</span>
                </div>
              </span>
              <span class="CdReC" name="modalTokens" content="2">
                <div class="box-sizzing-adjustment fajw w-fc">
                  <img
                    class="iTKKBi dXNPyx"
                    alt="DAI logo"
                    src="<%=baseURL%>/images/usdc.png"
                    style="margin-right: 2px"
                  />
                  <span class="ktwiAW">USDC</span>
                </div>
              </span>
              <span class="CdReC" name="modalTokens" content="3">
                <div class="box-sizzing-adjustment fajw w-fc">
                  <img
                    class="iTKKBi dXNPyx"
                    alt="DAI logo"
                    src="<%=baseURL%>/images/usdt.png"
                    style="margin-right: 2px"
                  />
                  <span class="ktwiAW">USDT</span>
                </div>
              </span>
            </div>
            <div class="d-flex">
              <span class="CdReC" name="modalTokens" content="4">
                <div class="box-sizzing-adjustment fajw w-fc">
                  <img
                    class="iTKKBi dXNPyx"
                    alt="DAI logo"
                    src="<%=baseURL%>/images/wbtc.png"
                    style="margin-right: 2px"
                  />
                  <span class="ktwiAW">WBTC</span>
                </div>
              </span>
              <span class="CdReC" name="modalTokens" content="5">
                <div class="box-sizzing-adjustment fajw w-fc">
                  <img
                    class="iTKKBi dXNPyx"
                    alt="DAI logo"
                    src="<%=baseURL%>/images/weth.png"
                    style="margin-right: 2px"
                  />
                  <span class="ktwiAW">WETH</span>
                </div>
              </span>
              <span class="CdReC" name="modalTokens" content="6">
                <div class="box-sizzing-adjustment fajw w-fc">
                  <img
                    class="iTKKBi dXNPyx"
                    alt="DAI logo"
                    src="<%=baseURL%>/images/OwlToken.png"
                    style="margin-right: 2px"
                  />
                  <span class="ktwiAW">OWLT</span>
                </div>
              </span>
            </div>
          </div>
          <div class="modal-footer text-center justify-content-center">
            <a href="#" class="text-decoration-none"
              ><i class="far fa-edit"></i> Manage Token Lists</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- connectWalletModal modal -->
    <div
      class="modal fade"
      id="connectWalletModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="currencyChangeModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="">Connect a wallet</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div
              class="d-flex justify-content-between align-item-center wallets"
            >
              <div>Connect MetaMask</div>
              <div>
                <img src="<%=baseURL%>/images/1.png" width="20px" alt="" />
              </div>
            </div>
            <div
              class="d-flex justify-content-between align-item-center wallets"
            >
              <div>Coinbase Wallet</div>
              <div>
                <img src="<%=baseURL%>/images/1.svg" width="20px" alt="" />
              </div>
            </div>
            <div
              class="d-flex justify-content-between align-item-center wallets"
            >
              <div>WalletConnect</div>
              <div>
                <img src="<%=baseURL%>/images/2.svg" width="20px" alt="" />
              </div>
            </div>
            <div class="wallets1">
              By connecting a wallet, you agree to Owl Swap’
              <a href="#" class=""><u>Terms of Service</u></a>
              and acknowledge that you have read and understand the OwlSwap
              <a href="#" class=""><u>Protocol Disclaimer</u></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="<%=baseURL%>/js/script.js"></script>
    <script type="module" src="<%=baseURL%>/js/web3.js"></script>
  </body>
</html>
